.colorleftp3{
	background-color: transparent;
}
.colorrightp3{
	 background-color: #fffcf2;
}
.colorp4{
	 background-color: transparent;
}
.colorp5left{
	background-color: transparent;
}
.colorp5right{
	background-color: #FFCC01;	
}
.colorp7{
	background-color: transparent;
}
.colorp8{
	background-color: transparent;
}
.bgcolorp6{
	background: #000;
}
.colorp9 {
	background-color: transparent;
}
