
.menu2visible{
    display:none;
}
.menu1visible{
    display:block;
}
.btn2mob{display:block;}
.title2mob{display: block;}
.way-mob{display: block;}
.titlegal .cherta {display: none;}
.price-mob{display: block;}
.prbigblock{display: none;}





@media only screen and (min-width: 320px) {

    .bgpic {
        background-image: url(./img/mobail-768/firstbg.jpg);
    }
    .fotorama__fullscreen-icon{
        transform: scale(2.0, 2.0) !important;
        -webkit-transform: scale(2.0, 2.0) !important;
        position: absolute;
        background: url("img/cross-24-512.png");
        background-size: 64px 64px;
        background-position: 0px 0px !important;
        width: 64px;
        height: 64px;
        top: 32px;
        right: 32px;
        z-index: 99;
        display: none;
    }

    .fotorama__fullscreen-icon__visible {
        display: block;
    }
}
@media only screen and (min-width: 750px) {
    .page1{font-size: 7em;}
    .title2mob{font-size: 0.7em;}
    .title2{font-size: 0.5em;}
    .btn2{font-weight: 400;font-size: 35%;padding-top: 10px;margin-left: 20%;width: 60%;}
    .title{font-size: 4em;}
    .text{font-size: 1.5em;}
    .btn3{width: 30%;margin-left: 32%;font-weight: 400;}
    .infogr{height: 15%;}
    .icon{width: 50%;height: 100%;}
    .text1{margin-top: -5%;margin-left: 30%;font-size: 1.3em;}
    .btn4{width: 50%;margin-top: 15%;margin-left: 10%;font-size: 1.5em;}
    .title5{font-size: 4em;}
    .text5{font-size: 2em;}
    .titleway{font-size: 4em;}
    .way-mob{font-size: 1.6em}
    .btn6{font-size: 2em;margin-left: 18%;}
    .titlegal{font-size: 4em;}
    .galtext{font-size: 1.3em;}
    .galsl{margin-left: 20%;width: 90%;}
    .titleprice{font-size: 4em;margin-top: 17%}
    .price-mob li {font-size: 1.5em;}
    .mapblock{top:20%;}
    .titmap{font-size: 3em;font-weight: 300;}
    .textmap{font-size: 1.5em;}
    .contbl{font-size: 2em;}
    .soctext{width: 50%;}
    .js .menu_main a {font-size: 2em;}
}

@media only screen and (min-width: 1000px) {
    .fotorama__fullscreen-icon{
        top:1px;
        right:1px
        transform: scale(1.0, 1.0);
    -webkit-transform: scale(1.0, 1.0);
    }

    /*Планшеты в режиме portrait.*/

    /*ФОНОВЫЕ ИЗОБРАЖЕНИЯ*/

    .bgpic {
        background-image: url(./img/board-1280/firstbg.jpg);
    }
    .page3bg {
        background-image: url(./img/board-1280/holi2.jpg);
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .page4bg {
        background-image: url(./img/board-1280/dust.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .page5bg {
        background-image: url(./img/board-1280/holi.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .page6bg {
        background-image: url(./img/board-1280/dust2.jpg);
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .page7bg {
        background-image: url(./img/board-1280/dust1.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .page8bg {
        background-image: url(./img/board-1280/holi1.jpg);
        background-position: right center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .bg1 {
        background-image: url(./img/board-1280/left.jpg);
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .bg2 {
        background-image: url(./img/board-1280/center.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .bg3 {
        background-image: url(./img/board-1280/right.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .white-popup-block{
        background-image: url(./img/splashform.jpg);
        background-position: right center;
        background-size:  auto 100%;
        background-repeat: no-repeat;
        width: 40%!important;
    }
    form{margin-left: 25%!important;}
    .titleform{font-size: 3em;text-align: left!important;}
    input{width: 40%!important;}
    .knopka{width: 40%; margin-left: 0;}

    /*МЕНЮ*/
    .menu2visible{
        display:block;
    }
    .menu1visible{
        display:none;
    }
    .scroll{width: 10%;}
    .titlepage1{margin-top:15%;width:80%;margin-left: 10%;}
    .btnpage1{width:24%;font-size: 20%;}
    .btn2mob{display: none;}
    .title2mob{display: none;}
    .leftpart{height: 33.33%;}
    .centerpart{width: 33.33%;}
    .rightpart{height: 33.33%;}
    .icon1{width:100%;display: block;}
    .icon1 img{height:100%;}
    .btn2{font-size: 35%;margin-left: 25%;width: 50%;margin-top: 5%;opacity: 0;font-weight: 200;}
    .slidercontent {height: 30vh;margin-top: 35vh;margin-left: 5%;text-align: center;}
    .c1 {height: 100vh;width: 33%;}
    .bg1 {height: 100%;}
    .c2 {height: 100vh;width: 34%;}
    .bg2 {height: 100%;}
    .c3 {margin: 0;height:100vh;width: 33%;}
    .bg3 {height: 100%;}
    .slidercontentup {margin-top: 25%;}
    .lefthalf{width: 60%;}
    .title{font-size: 2.7em;font-weight: 200;opacity: 0;margin-top: 10%;}
    .text{opacity: 0;font-size: 1.1em!important;font-weight: 200;line-height: 1.7em}
    .btn3{width: 28%;opacity: 0;padding: 10px 10px 10px 10px;margin-left: 10%;margin-top: 7%;font-weight: 200;font-size: 1.5em;border: solid #ffffff 1px;}
    .sc3{opacity: 0;left: 80%;}
    .infogr{display: block;opacity: 0;width: 14%;height: 100%;}
    .infograffirst{margin-left: 10%}
    .icon{width:100%;height: 50%;}
    .text1{margin-top: 5%;margin-left: 0;font-size: 1.2em!important;}
    .btn4{width: 28%;padding: 10px 10px 10px 10px;margin-left: 10%!important;opacity: 0;margin-top: 5%;border: solid #fff 1px;font-weight: 200;}
    .sc4{opacity: 0;}
    .title5{font-size: 2.3em;opacity: 0;font-weight: 200;}
    .text5{font-size: 1.5em;opacity: 0;font-weight: 200;}
    .btn{opacity: 0;width: 32%;margin-left: 10%;font-weight: 200;}
    .sc5{left: 80%;opacity: 0;}
    .way-mob{display: none;}
    .titleway{font-weight: 200;font-size: 2.7em;margin-top: 8%;opacity: 0;}
    .btn6{margin-top: 5%;opacity: 0;width: 28%;font-weight: 200;margin-left: 35%;font-size: 1.5em!important;}
    .sc6{opacity: 0;}
    .titlegal .cherta{display: block;}
    .titlegal{font-size: 2.7em;font-weight: 200;margin-top: 8%;}
    .galtext{font-size: 1.5em;width: 30%;font-weight: 200;}
    .galsl{width:60%;margin-top: -20%;}
    .price-mob{display: none;}
    .prbigblock{display: block;}
    .titleprice{margin-top: 8%;font-size: 2.7em;font-weight: 200;}
    .btn8{width: 24%;margin-left:36%;font-size: 1.5em!important;font-weight: 200!important;border: solid #ffffff 1px;}
    .map {
        background-image: url(./img/map1280.jpg);
        background-position: left center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .mapblock {
        width: 25%;/*25*/
        height: 60%;/*60*/
        top:25%;/*25*/
        border: 7px solid #ffcc01;/*7*/
        border-right: none;
        right:0;
        left:75%;
    }
    .titmap{font-size: 2.5em;font-weight: 200;}
    .textmap{font-size: 1em;font-weight: 200;}
    .contbl{font-size: 1.1em;}
    .socialblock{
        margin-left: 2% ;
        margin-top: 9%;
        width: 15%;
        height: 45%;

    }
    .blockicon{
        width: 100%;/*100*/
        height:55%;/*55*/
        margin-top: 10%;/*10*/
        margin-left: 0;/*0*/
    }
    .icon10{
        width:100%;/*100*/
        margin-left: 5%;
        margin-top: 5%;
    }
    .socfirst{margin-left: 15%;}

    .fotorama__fullscreen-icon{
        transform: scale(2.0, 2.0) !important;
        -webkit-transform: scale(2.0, 2.0) !important;
        position: absolute;
        background-position: 0px 0px !important;
        background: url("img/cross-24-512.png");
        background-size: 8px 8px;
        width: 8px;
        height: 8px;
        top: 16px;
        right: 16px;
        z-index: 99;
        display: none;
    }
    .fotorama__fullscreen-icon__visible {
        display: block;
    }

    .appear {
        opacity: 1;
        transition: 2s;
    }

}

@media only screen and (min-width: 1300px) {

    /*Планшеты в режиме landscape, нетбуки, ноутбуки, десктоп.*/

    /*ФОНОВЫЕ ИЗОБРАЖЕНИЯ*/

    .bgpic {
        background-image: url(./img/notebook-1680/firstbg.jpg);
    }
    .page3bg {
        background-image: url(./img/notebook-1680/holi2.jpg);
    }
    .page4bg {
        background-image: url(./img/notebook-1680/dust.jpg);
    }
    .page5bg {
        background-image: url(./img/notebook-1680/holi.jpg);
    }
    .page6bg {
        background-image: url(./img/notebook-1680/dust2.jpg);
    }
    .page7bg {
        background-image: url(./img/notebook-1680/dust1.jpg);
    }
    .page8bg {
        background-image: url(./img/notebook-1680/holi1.jpg);
    }
    .bg1 {
        background-image: url(./img/notebook-1680/left.jpg);
    }
    .bg2 {
        background-image: url(./img/notebook-1680/center.jpg);
    }
    .bg3 {
        background-image: url(./img/notebook-1680/right.jpg);
    }
    .map {
        background-image: url(./img/map1680.jpg);
        background-position: left center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    /*МЕНЮ*/
    .menuvisible{
        display: block;
    }
    /*СЛАЙД 2*/

    /*СЛАЙД 4*/

    /*ГАЛЕРЕЯ*/

    /*ПРАЙС*/

    /*КАРТА*/

    /*СЛАЙД 10*/

    /*ТЕКСТ*/

    /*КНОПКИ*/

    /*СКРОЛ*/

    .fotorama__fullscreen-icon{
        /*transform: scale(2.0, 2.0) !important;
        -webkit-transform: scale(2.0, 2.0) !important;*/
        position: absolute;
        background: url("img/cross-24-512.png") !important;
        background-size: 64px 64px !important;
        background-position: 0px 0px !important;
        width: 64px !important;
        height: 64px !important;
        top: 32px !important;
        right: 32px !important;
        z-index: 99;
        display: none;
    }

    .fotorama__fullscreen-icon__visible {
        display: block;
    }
}

@media only screen and (min-width: 1900px) {

    /*Десктоп с большими разрешениями, телевизоры.*/

    /*ФОНОВЫЕ ИЗОБРАЖЕНИЯ*/

    .bgpic {
        background-image: url(./img/tv-2048/firstbg.jpg);
    }
    .page3bg {
        background-image: url(./img/tv-2048/holi2.jpg);
    }
    .page4bg {
        background-image: url(./img/tv-2048/dust.jpg);
    }
    .page5bg {
        background-image: url(./img/tv-2048/holi.jpg);
    }
    .page6bg {
        background-image: url(./img/tv-2048/dust2.jpg);
    }
    .page7bg {
        background-image: url(./img/tv-2048/dust1.jpg);
    }
    .page8bg {
        background-image: url(./img/tv-2048/holi1.jpg);
    }
    .bg1 {
        background-image: url(./img/tv-2048/left.jpg);
    }
    .bg2 {
        background-image: url(./img/tv-2048/center.jpg);
    }
    .bg3 {
        background-image: url(./img/tv-2048/right.jpg);
    }
    .map {
        background-image: url(./img/map2048.jpg);
        background-position: left center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    /*МЕНЮ*/
    .menuvisible{
        display: block;
    }
   .galsl{margin-top: -15%;}
   .prbigtext{margin-top: 14%}
}


