@import "http://webfonts.ru/import/roboto.css";
@import "http://webfonts.ru/import/vremenasans.css";
@import "http://webfonts.ru/import/ubuntu.css";
@import "http://webfonts.ru/import/clearsans.css";
@import "http://webfonts.ru/import/introcondensed.css";
@import "http://webfonts.ru/import/fira.css";

.title{
    opacity: 0;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 13%;
	/*padding-top: 10%;
    width: 100%;*/
	color: #FFCC01;
	text-align: left;
    font-size: 2.7em;
    font-weight: 200;
    font-family: 'Roboto';
    letter-spacing: 0.02em;
    text-transform: uppercase;
    transition: 2s;
}
.text{
    opacity: 0;
    margin-top: 1%;
    /*width: 100%;*/
	padding-left:10%;
	padding-right: 10%;
	color: #e7e7e7;
	text-align: justify ;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.7em;
    font-family: "Clear Sans";
    transition: 2s;
}
.title1{
    opacity: 0;
    padding-top: 5%;
	color: #FFCC01;
	text-align: center;
    font-size: 3em;
    font-weight: 200;
    font-family: 'Roboto';
    letter-spacing: 0.02em;
    text-transform: uppercase;
 }
.text1{
   /* padding-left:20%;
	padding-right: 20%;*/
    padding-top: 10%;
	color: #e7e7e7;
	text-align: left ;
    font-size: 1.3em;
    font-weight: 300;
    font-family: "Clear Sans";
}
.titlepage1 {
    margin-top: 15%;
    top: 40%;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 30% color : #fff;
    text-align: center;
    font-size: 0.5em;
    font-weight: 500;
    font-family: 'Clear Sans';
    letter-spacing: 0.02em;
    text-transform: uppercase;

    
   
    
     
    
 }
 .title2 {

     /*margin-left:10%;
     margin-right: 10%;
     /*width: 80%;
     height: 30%*/
     width: 100% ;
     text-align: center;
     font-size: 0.5em;
     font-weight: 200;
     font-family: 'Clear Sans';
     letter-spacing: 0.02em;
     text-transform: uppercase;  color: fff;
 }
 .titleform {
     width: 100% ;
     text-align: left;
     font-size: 3em;
     font-weight: 200;
     font-family: 'Clear Sans';
     letter-spacing: 0.02em;
     text-transform: uppercase;
     color: #2c2c2c;
 }
.text7{
    /* padding-left:20%;
     padding-right: 20%;*/
    padding-top: 5%;
    color: #e7e7e7;
    text-align: center ;
    font-size: 1em;
    font-weight: 300;
    font-family: "Roboto";
    text-transform: uppercase;
}
.textsl2{
    margin-left: 25%;
    width: 50%;
    /*border: solid 1px #fff;*/
    text-align: left;
    font-size: 0.4em;
    font-weight: 100;
    font-family: 'Clear Sans';
    letter-spacing: 0.02em;
    text-transform: none;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.0);
    display: none;
    opacity: 0.3;
    margin-top:12%;
}

.textsl2left {
    transition: 0.5s;
}

.textsl2appear {
    display: block;
    transition: 1s;
    opacity: 0;
}

.textsl2visible {
    opacity: 0.3;
    transition: 0.3s;
}
.transh{
    padding-left: 5%;
    padding-top: 5%;
    width: 10%;
    text-align: left;
    font-size: 0.1em;
    font-weight: 200;
    font-family: 'Clear Sans';
    letter-spacing: 0.02em;
    text-transform: uppercase;  color: fff;
    float: left;

   /* background-color: #0b0b0b;
    opacity: 0.5;*/
}
.transhblock a{text-decoration: none;color: #FFFFff}
.transhblock a:visited {
    color: #ffffff;
}

.transhblock a:focus {
    outline: none;
}
.iconfirst{width: 50%;float: right; margin-top: -20%;}
.iconfirst img{ width: 40%;height: 40%}
.transhblock{
    margin-left: 87.4%;
    margin-top: 8%;
    border: solid 1px #fff;
    width: 9%;
    height: 7%;
}
.title5{
    opacity: 0;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 13%;
    /*padding-top: 10%;
    width: 100%;*/
    color: #FFCC01;
    text-align: left;
    font-size: 3em;
    font-weight: 200;
    font-family: 'Roboto';
    letter-spacing: 0.02em;
    text-transform: uppercase;
    transition: 2s;
}
.text5{
    opacity: 0;
    margin-top: 1%;
    /*width: 100%;*/
    padding-left:10%;
    padding-right: 10%;
    color: #e7e7e7;
    text-align: justify ;
    font-size: 1.3em;
    font-weight: 300;
    line-height: 1.7em;
    font-family: "Clear Sans";
    transition: 2s;
}