
.blockway{
    /*margin-left: 5% ;*/
    margin-top: 4%;
    text-align: center;
    /*border: 1px solid #ffcc01;*/
    float: left;
    width: 10%;
    height: 30%;

}
.blockway1{
    /*margin-left: 5% ;*/
    /*margin-top: 4%;*/
    text-align: center;
    /*border: 1px solid #ffcc01;*/
    float: left;
    width: 10%;
    height: 25%;

}
.wayfirst{margin-left: 25%;}
.waylast{margin-right: 25%;}
.waybt{margin-top: 0;}
.wayblank{width:40%;hight:30%;}

.waycontainer{height:50%; }
.waypage{
    width: 100%;
    height: 100%;
    position: absolute;
}
.icon2{
  width:100%;
  color: #fff;
  /*margin-top: 10%;*/
  font-size: 1em;
  font-family: 'Roboto';
  text-transform: uppercase;
  font-weight: 300;
}
.icon2 img{
  width: 50%;
  height: 50%;
}
.iconcar{
    width:100%;
    color: #fff;
    /*margin-top: 10%;*/
    font-size: 1em;
    font-family: 'Roboto';
    text-transform: uppercase;
    font-weight: 300;
}
.iconcar img{
    width: 80%;
    height: 80%;
}
.icon3{
    width:100%;
    color: #fff;
    margin-top: 15%;
    font-size: 1em;
    font-family: 'Roboto';
    text-transform: uppercase;
    font-weight: 300;
}
.icon3 img{ height:60%; width: 50%}
.roth{
-moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
}
.titleway{
  /*padding-top: 5%;*/
  margin-top: 7%;
  color: #FFCC01;
  text-align: center;
  font-size: 3em;
  font-weight: 200;
  font-family: 'Roboto';
  letter-spacing: 0.02em;
  text-transform: uppercase;
    opacity: 0;
 }
.bw1{opacity: 0;transition: 0.2s ease-in-out;}
.bw2{opacity: 0;transition: 0.2s ease-in-out;}
.bw3{opacity: 0;transition: 0.2s ease-in-out;}
.bw4{opacity: 0;transition: 0.2s ease-in-out;}
.bw5{opacity: 0;transition: 0.2s ease-in-out;}
.bw6{opacity: 0;transition: 0.2s ease-in-out;}
.bw7{opacity: 0;transition: 0.2s ease-in-out;}
.bw8{opacity: 0;transition: 0.2s ease-in-out;}
.bw9{opacity: 0;transition: 0.2s ease-in-out;}
.bw10{opacity: 0;transition: 0.2s ease-in-out;}
.bw11{opacity: 0;transition: 0.2s ease-in-out;}
